* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: auto;
  padding: 10px;
  background-color: pink;

}

.container {
  position: relative;
  text-align: center;

}

.layover {
  background-color: red;
}

.foto {
  height: 300px;
  width: 480px;
  margin-bottom: 10px;
  margin-left: 50vw;
  transform: translate(-50%, 0);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  background-color:rgba(233, 233, 240, 0);
}

#london {
  background-image: url(../img/london.jpg);

}

#paris {
  background-image: url(../img/paris.jpg);

}

#berlin {
  background-image: url(../img/berlin.jpg);

}
